body{
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_and_contacts{
width: 1028px;
height: 61px;
margin-left: auto;
margin-right: auto;
position: relative;
margin-top: 55px;
}

.logo_link_and_container{
    position: absolute;
    left: 0px;
    text-decoration: none;
    width: 160px;
    height: 100%;
}
.logo_link_and_container:hover>h1{
color: #F26522;
}
.logo_orange{
    display: none;
}
.logo_link_and_container:hover>.logo_white{
display: none;
}
.logo_link_and_container:hover>.logo_orange{
display: block;
}

.MILAN{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 29px;

display: flex;
align-items: center;

color: #FFFFFF;
position: absolute;
top: 0px;
right: 5px;
margin: 0px;
}

.HOlIDAYS{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;

display: flex;
align-items: center;

color: #FFFFFF;

position: absolute;
top: 32px;
right: 5px;
margin: 0px;
}

.logo_image{
position: absolute;
left: 0px;
}

.contacts_container{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.contacts_paragraph{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;

display: flex;
align-items: center;
margin: 0px;

color: #FFFFFF;
}
.contacts_link{
    text-decoration-line: none;
}

.contacts_link:hover>.contacts_paragraph{
    color: #F26522;
}

.tours_list{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1028px;
    row-gap: 40px;
    column-gap: 64px;
    grid-template-rows: 262px 262px;
    grid-template-columns: 300px 300px 300px;
    list-style: none;
    padding: 0px;
}

.tours_list_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tours_link{
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}


.tours_list_item_hover{
width: 297.8px;
height: 55px;
background: #F26522;
position: absolute;
bottom: 0px;
left: 1.2px;
transform: translateY(70px);
transition: transform 0.4s ease-in-out;

}

.tours_link:hover>.tour_image_container>.tours_list_item_hover{
    transform: translateY(0px);
}

.tours_link:hover>.tour_description{
    color: #F26522;
}
.tour_image_container{
    height: 220px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.from{
    position: absolute;
    left: 16px;
    top: 7px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
color: #FFFFFF;
margin: 0px;
}

.price{
position: absolute;
left: 16px;
top: 29px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
margin: 0px;
}

.view_details{
position: absolute;
right: 14px;
top: 29px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
margin: 0px;
}

.view_details::after{
content: ">";
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
padding-left: 16px;
}



.tour_image{
width: 300px;
height: 220px;
}


.tour_description{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
transition: 0.5s ease-in-out;
}

.copyright_section{
display: flex;
align-items: center;
justify-content: center;
margin-top: 49px;
margin-bottom: 16px;
}

.copyright{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
